body{ font-size:12px; line-height:20px;margin:0;padding:0; color:#666;font-family:"Microsoft YaHei"; background-color:#f6f6f6; }
h1, h2, h3, h4, h5, h6{ font-size:12px;}
li, ol { list-style:none; }
ins { text-decoration:none; }
i, em { font-style:normal; }
i{ display:inline-block;}
a { text-decoration:none; color:#666; cursor:pointer;}
a:hover { cursor:pointer; text-decoration:none;}
a:active{star:expression(this.onFocus=this.blur());}
:focus{outline:0;}
.clear { clear:both; line-height:0px; overflow:hidden; zoom:1; font-size:0px; content:'.'; }
.clearAll{ clear:both;zoom:1;}
a img { border:none; }
li.clear { float:none; width:auto; height:auto; padding:0; margin:0; }
input{ border:0 none; padding:0px; margin:0px;}
table { border-collapse: collapse; border-spacing: 0;}

.pr{ position:relative;}
.pa{ position:absolute;}
.ftms{ font-family:"Microsoft YaHei"}

/*ÎÄ×Ö¿¿±ß*/
.tl { text-align:left!important; }.tc { text-align:center!important; }.tr { text-align:right!important; }
/*Ëõ½ø*/
.ti2 { text-indent:2em; }
/*wÎ»ÖÃ*/
.site{
    height: 38px;
    padding-top: 30px;
}
.site p{
    float: left;
}
.site p:last-child{
    color: blue;
}
.site p img{
    padding: 0 5px;
}
.cpzx-3{
    padding-bottom: 20px;
    overflow: hidden;
}
.cpzx-3-t{
    margin-top: 25px;
    overflow: hidden;
}
.cpzx-3-t p{
    color: blue;
}
.cpzx-3 p{
    float: left;
    font-size: 20px;

}
.cpzx-3 img{
    float: right;
}
.cpzx-3 ul{
    padding: 0;
}
.cpzx-3 ul li{
    float: left;
    width: 288px;
    height: 378px;
    background-color: #FFF;
    margin-top: 25px;
    text-align: center;
    margin-right: 12px;
    position: relative;
}
.cpzx-3 ul li img{
    margin-top: 50px;
    margin-right: 90px;
}
.cpzx-3 ul li:hover img{
    opacity: 0.5;
}
.cpzx-xbt1{
    position: absolute;
    left: 0;
    bottom: 56px;
    width: 288px;
    text-align: center;
    font-size: 17px;
    color: #676767;
}
.cpzx-xbt2{
    position: absolute;
    left: 0;
    bottom: 28px;
    width: 288px;
    text-align: center;
    font-size: 14px;
    color: #777;
    font-weight: 500;
}